* {
  margin: 0;
  padding: 0;
}
body {
  background: #ccc;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
main {
  margin-block: 5px;
  overflow: hidden;
  display: none;
  width: 90vw;
  padding: 10px 30px;
  background: white;
  justify-content: center;
  grid-template-columns: repeat(6, 15vw);
  grid-template-rows: repeat(6, 100px);
  gap: 5px;
  perspective: 1000px;
}
.card {
  border-radius: 5px;
  transform-style: preserve-3d;
  width: 100%;
  background: blue;
  transition: transform 0.4s linear, background 0s 0.2s linear,
    font-size 0s 0.2s linear;
  font-size: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.card:hover {
  filter: brightness(0.9);
}
.cardOnclick {
  transform: rotateY(180deg);
  background: red;
  font-size: 26px;

  transform: scale(-1, 1);
}
.sucess {
  background: chartreuse;
  font-size: 26px;
}
header {
  overflow: hidden;
  border-radius: 5px;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  background: white;
  margin-block: 10px;
  padding: 7px 10px;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}
label span {
  margin-left: 8px;
  padding: 2px 5px;
  border-radius: 3px;
  background: rgb(238, 238, 238);
  cursor: pointer;
}
label input {
  display: none;
}
label:hover {
  filter: brightness(0.9);
}
input:checked + span {
  background: rgb(0, 195, 255);
}
#starting {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 7px;
  border: none;
  border-radius: 4px;
  outline: none;
  background: rgb(0, 67, 155);
  color: white;
  cursor: pointer;
}
#starting:hover {
  filter: brightness(1.2);
}
